<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if utilisateur %}
      <h2>Commandes de l'utilisateur <a href="{% url 'update_utilisateur' utilisateur.id %}" name="modifier utilisateur">{{utilisateur.username}}</a></h2>
    {% endif %}
    <ul>
        {% for commande in commandes %}
            <a href="{% url 'update_commande' commande.id %}">
                 <li>{{ commande.objet }}</li>
            </a>
        {% endfor %}
    </ul>
    
    <a href="{% url 'create_commande' %}">Nouvelle commande</a>
</body>
</html>