<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% if utilisateur %}
        <h2>Ete vous sur de vouloir supprimer l'utilisateur {{ utilisateur.username }} ?</h2>
        {% else %}
        <h2>Ete vous sur de vouloir supprimer la commande {{ commande.id }}</h2>
        {% endif %}
        <button type="submit">confirmer</button>
    </form>
</body>
</html>